extends ../layout.pug

block content
  h2 Editar estado
  form(action='/statuses/' + status.id method='post' novalidate)
    input(type='hidden' name='_method' value='PATCH')
    .mb-3
      label.form-label(for='data_name') Nombre
      input.form-control(type='text' id='data_name' name='data[name]' value=status.name)
    button.btn.btn-primary(type='submit') Actualizar
